{{ define "main" }}
	<h2><a href="{{.Params.WebsiteUrl}}">{{.Params.WebsiteUrl}}</a></h2>
	<p>
		{{ if .Params.Creator }}
			<i>By {{.Params.Creator}}</i><br>
		{{end}}
		{{ if .Params.Status }}
			({{.Params.Status}})<br>
		{{end}}
	</p>

	<!-- LABEL AVAILABLE -->
	<!--
	{{ if .Params.Label }}
		<hr>
		<h3>This website is Bare Labelled</h3>
		{{ $length := (len .Params.LabelOptions) }}
		{{ if gt $length 0 }}
			<p>
				with the following
				{{ if gt $length 1 }}
					<a href='{{(.Site.GetPage "/label/icon").URL}}'>options</a>:
				{{ else }}
					<a href='{{(.Site.GetPage "/label/icon").URL}}'>option</a>:
				{{ end }}
				{{ if in .Params.LabelOptions "green" }} &#x1f332; {{ end }}
				{{ if in .Params.LabelOptions "research" }} &#x269b; {{ end }}
				{{ if in .Params.LabelOptions "open" }} &#x1f441; {{ end }}
			</p>
		{{end}}
	{{end}}
	-->

		<hr>
		<h3>The Idea</h3>
	{{.Content}}
	{{ if or .Params.ContactName .Params.ContactEmail }}
		<hr>
		<h3>Contact</h3>
		{{if .Params.ContactName}}{{.Params.ContactName}}<br>{{end}}
		{{if .Params.ContactEmail}}{{.Params.ContactEmail}}<br>{{end}}
	{{end}}
{{end}}
