{{ $css := slice (resources.Get "css/header.css") }}
{{ $css = $css | append (resources.Get "css/footer.css") }}
{{ $css = $css | append (resources.Get "css/main.css") }}
{{ $css = $css | append (resources.Get "css/bubbles.css") }}
{{ $css = $css | append (resources.Get "css/titles.css") }}
{{ $css = $css | append (resources.Get "css/facts.css") }}
{{ $style := resources.Concat "style.css" $css | resources.Minify }}

<meta charset="UTF-8">
<title>&#x1f43b; {{.Site.Title}}</title>
<link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
