{{ $percent := .Get "percent"}}
{{ $color := "#bbbbbb" }}

{{ if eq (.Get "type") "B" }}
	{{ $color = "#888888" }}
{{end}}

<tr>
	<td class=number>
		{{ $percent }}%
	</td>
	<td class=info style='background:linear-gradient(110deg, {{$color}} {{$percent}}%, #ffffff {{$percent}}%);'>
		{{.Get "info"}}
	</td>
</tr>
